/* add CSS class and element and selectors here */
 body {
      background-color: #FFC9E7;
      font-size: 150%;
 }
 
  .myClass {
      background-color: white;
      color: yellow
    }
    
  .myFavoriteLife {
    font-family: Comic Sans MS;
  }
  
  h3 {
    font-size: 300%;
  }
  
  html {
    background-color: red;
    color: green;
  }
  
  div {
    border-width: 100px;
  }
  
  